@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="paginaRespuesta" method="post">
    <script src=""
        
        data-sessiontoken="123456ABCD789"
        data-channel="web"
        data-merchantid="123456789"

        data-merchantlogo=""
        data-formbuttoncolor="#D80000"

        data-purchasenumber="123"
        data-amount="20.98"

        data-expirationminutes="5"
        data-timeouturl="index.cshtml"

    ></script>
</form>