@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="/css/inicio.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rancho&family=Sriracha&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rancho&family=Sriracha&family=Wendy+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Tilt+Warp&family=Titan+One&display=swap" rel="stylesheet">
}

<div class="banner">
    <div class="overlay">
        <div class="cont-banner col-lg-4 align-self-center">
            <h1>EL ARTE DEL BUEN PAN,</h1>
            <h2>EN CADA BOCADO</h2>
            <p>
                Un pan recién horneado puede ser el protagonista de una mesa familiar o un simple snack para disfrutar en
                cualquier momento. En Dulces Delicias, tenemos el pan perfecto para cada ocasión.
            </p>
        </div>
    </div>
</div>

<main class="main-home" id="nosotros">
    <div class="text-nosotros">
        <h3>Sobre Nosotros</h3>
        <hr class="linea">
    </div>
    <p class="parrafo">
        Somos un equipo apasionado por el arte de la panadería nos especializamos en la creación de panes,
        bocaditos y pasteles con un toque único y delicioso. Con más de una década de experiencia, nos dedicamos a ofrecer
        productos frescos y exquisitos que deleitan a nuestros clientes. ¡Ven y descubre el placer en cada bocado en Dulces Delicias!
    </p>
    <img src="~/img/inicio_muestra/nosotros.png" alt="" class="img-responsive">
</main>

<div class="contanidos">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 custom-column1">
                <h2 class="mt-5 text-center" id="mision">MISIÓN</h2>
                <hr class="linea">
                <p class="text-center">
                    Brindar productos horneados frescos y de alta calidad que deleiten y satisfagan a nuestros clientes,
                    brindando momentos dulces y memorables en sus vidas.
                </p>
                <br>
            </div>
            <div class="col-lg-5 custom-column2">
                <h2 class="mt-5 text-center" id="vision">VISIÓN</h2>
                <hr class="linea">
                <p class="text-center">
                    Nos esforzamos por ser la panadería de referencia, reconocida por nuestra excelencia en productos y
                    servicio, creando momentos de felicidad a través de cada bocado
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
<!--        hasta aqui        -->

<h2 class="mt-5 text-center" id="vision" style="color: #2F4858;">NUESTROS PRODUCTOS</h2>
<div class="linea-container">
    <hr class="linea" id="lineaproduc">
</div>
<div id="galeria" class="mt-0 pt-0">
    <ul class="galeria mt-1">
        <li class="galeria__item"><img src="~/img/inicio_muestra/pan1.jpg" class="galeria__img"></li>
        <li class="galeria__item"><img src="~/img/inicio_muestra/pan2.jpg" class="galeria__img"></li>
        <li class="galeria__item"><img src="~/img/inicio_muestra/pan3.png" class="galeria__img"></li>
        <li class="galeria__item"><img src="~/img/inicio_muestra/pan4.png" class="galeria__img"></li>
        <li class="galeria__item"><img src="~/img/inicio_muestra/pan5.jpg" class="galeria__img"></li>
        <li class="galeria__item"><img src="~/img/inicio_muestra/pan6.jpg" class="galeria__img"></li>
        <li class="galeria__item"><img src="~/img/inicio_muestra/pan7.jpg" class="galeria__img"></li>
        <li class="galeria__item"><img src="~/img/inicio_muestra/pan8.jpg" class="galeria__img"></li>
    </ul>
</div>

