@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="/css/inicio.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rancho&family=Sriracha&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rancho&family=Sriracha&family=Wendy+One&display=swap" rel="stylesheet">
}

<main>
    <img src="~/img/bannerhome.jpeg" alt="100" class="imghome">
    <div class="text-overlay col-lg-4 align-self-center">
        <h1>El arte del buen pan,</h1>
        <h2>en cada bocado</h2>
        <p>
            Un pan recién horneado puede ser el protagonista de una mesa familiar o un simple snack para disfrutar en
            cualquier momento. En Dulces Delicias, tenemos el pan perfecto para cada ocasión.
        </p>
    </div>
</main>
