@model TortasModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left: 5%; width: 90%;" class="mb-4">

    <div class="row p-2 justify-content-between" , style="width: 100%;">
        <div class="col-6">
            <h2>Lista de Tortas</h2>
        </div>
        <div class="col-2 text-right" style="padding: 0;">
            <button type="button" onclick="limpiarModalTortas()" class="btn btn-dark form-control" data-bs-toggle="modal" data-bs-target="#modalCrearTortas"><b><i class="bi bi-plus-circle"></i> Registrar</b></button>
        </div>
    </div>

    <div class="border rounded bg-light p-2">
        <table id="TablaTortas" class="table table-bordered table-responsive-xl" style="width: 100%; overflow: hidden; background-image: url('../../wwwroot/img/fondoMantenimientoPan.png') !important;">
            <thead class="thead-dark">
                <tr class="table-dark">
                    <th class="text-center">Marca</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Costo</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Imagen</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="modalCrearTortas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="formPasteles" method="post" enctype="multipart/form-data">
                    <div class="modal-header bg-dark text-white">
                        @if (Model.idTortas == 0) {
                            <h2 class="modal-title text-center">Registrar Pastel</h2>
                        }
                        else {
                            <h2 class="modal-title text-center">Actualizar @Model.nombreT</h2>
                        }
                        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div style="">
                            <div class="row border-0">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </div>
                            <input type="hidden" id="idTortas" asp-for="idTortas" />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Nombre</label>
                                    <input asp-for="nombreT" id="nombreTorta" class="form-control" placeholder="Pastel de Chocolate" />
                                    <span asp-validation-for="nombreT" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label">Marca</label>
                                    <select asp-for="marcaB" id="marcaTorta" class="form-control">
                                        <option value="Artesanal">Artesanal</option>
                                        <option value="Bimbo">Bimbo</option>
                                        <option value="Dempster">Dempster</option>
                                        <option value="Aryzta">Aryzta</option>
                                        <option value="Hovis">Hovis</option>
                                    </select>
                                    <span asp-validation-for="marcaB" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Costo</label>
                                    <input asp-for="costoT" id="costoTorta" type="number" class="form-control" placeholder="1" />
                                    <span asp-validation-for="costoT" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Stock disponible</label>
                                    <input asp-for="stockT" id="stockTorta" type="number" class="form-control" placeholder="50" />
                                    <span asp-validation-for="stockT" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Descripción</label>
                                    <input asp-for="descripcionT" id="descTorta" class="form-control" placeholder="Es una opción clasica" />
                                    <span asp-validation-for="descripcionT" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Imagen referencial</label>
                                    <input asp-for="imagenT" id="imgTorta" class="form-control" placeholder="https://example-pasteles.com" />
                                    <span asp-validation-for="imagenT" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cerrar</button>
                        @if (Model.idTortas == 0) {
                            <button type="submit" class="btn btn-outline-success">Registrar</button>
                        } else {
                            <button type="submit" class="btn btn-outline-success">Actualizar</button>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/mant-pasteles.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            $('#modalCrearTortas').on('shown.bs.modal', function (e) {
                $('.text-danger').html('');
            });
            $('#formPasteles').submit(function (e) {
                e.preventDefault();

                var nombre = $('#nombreTorta').val();
                var descripcion = $('#descTorta').val();
                var imagen = $('#imgTorta').val();
                var costo = $('#costoTorta').val();
                var stock = $('#stockTorta').val();

                var errors = [];

                if (nombre.trim() === '') errors.push('El campo nombre es obligatorio.');
                if (nombre.length > 50) errors.push('El nombre del Pastel debe tener como máximo 50 caracteres.');
                if (descripcion.trim() === '') errors.push('El campo descripción es obligatorio.');
                if (descripcion.length > 400) errors.push('La descripción del Pastel debe tener como máximo 400 caracteres.');
                if (imagen.trim() === '') errors.push('El campo imagen referencial es obligatorio.');
                if (imagen.length > 400) errors.push('La imagen referencial del Pastel debe tener como máximo 400 caracteres.');
                if (parseInt(costo) <= 0) errors.push('El campo costo debe ser mayor que cero.');
                if (parseInt(stock) <= 0) errors.push('El campo stock debe ser mayor que cero.');

                $('.text-danger').html('');
                if (errors.length > 0) {
                    for (var i = 0; i < errors.length; i++) {
                        if (errors[i].includes('nombre')) $('#nombreTorta').next('.text-danger').append('<div>' + errors[i] + '</div>');
                        else if (errors[i].includes('descripción')) $('#descTorta').next('.text-danger').append('<div>' + errors[i] + '</div>');
                        else if (errors[i].includes('imagen')) $('#imgTorta').next('.text-danger').append('<div>' + errors[i] + '</div>');
                        else if (errors[i].includes('costo')) $('#costoTorta').next('.text-danger').append('<div>' + errors[i] + '</div>');
                        else if (errors[i].includes('stock')) $('#stockTorta').next('.text-danger').append('<div>' + errors[i] + '</div>');
                    }
                    return;
                }

                Swal.fire({
                    icon: 'success',
                    title: '¡Guardado exitoso!',
                    text: 'El pan se ha guardado correctamente.',
                    showConfirmButton: false,
                    timer: 1500
                });

                this.submit();
            });
        });
    </script>
}