
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="/css/perfilUsuario.css"/>
}

<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-12 col-md-3 border-end border-dark p-4" style="min-height: 300px;">
            <div class="d-flex flex-column align-items-center justify-content-center h-100 my-3">
                <div class="mb-4 text-center">
                    <img src="~/img/Perfil.png" alt="Imagen" class="img-fluid rounded mx-auto" style="max-width: 75%; height: auto;">
                </div>
                <div class="w-md-75 mb-4 text-center">
                    <h2 class="text-center">Username</h2>
                </div>
                <div class="w-75 mb-4">
                    <a href="@Url.Action("VerHistorial", "Usuario")" class="btn btn-dark w-100">Ver Historial</a>
                </div>
                <div class="w-75 mb-4">
                    <button type="button" class="btn btn-danger w-100">Cerrar Sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>