
@{
    ViewData["Title"] = "Historial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="/css/Historial.css" />
}

<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-12 col-md-3 border-end border-dark p-4" style="min-height: 300px;">
            <div class="d-flex flex-column align-items-center justify-content-center h-100 my-3">
                <div class="mb-4 text-center">
                    <img src="~/img/Perfil.png" alt="Imagen" class="img-fluid rounded mx-auto" style="max-width: 75%; height: auto;">
                </div>
                <div class="w-md-75 mb-4 text-center">
                    <h2 class="text-center">Username</h2>
                </div>
                <div class="w-75 mb-4">
                    <a href="@Url.Action("VerHistorial", "Usuario")" class="btn btn-dark w-100">Ver Historial</a>
                </div>
                <div class="w-75 mb-4">
                    <button type="button" class="btn btn-dark w-100">Preguntas Frecuentes</button>
                </div>
                <div class="w-75 mb-4">
                    <button type="button" class="btn btn-danger w-100">Cerrar Sesión</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9" style="min-height: 300px;">
			<div class="historial">
				<h1 class="titulo-historial"><strong>Historial de Pagos</strong></h1>
				<div class="cont-historial">
					<div class="card-historial">
						<h5 class="card-hist-titulo m-0">Fecha de compra: 2024-03-04 14:30:18</h5>
						<h5 class="card-hist-cont-header">
							<p class="m-0">Productos:</p><p class="m-0">Precio en $:</p>
						</h5>
						<h5 class="card-hist-cont">
							<div class="m-0">
								<p class="m-0">Parrilladad Mixta</p>
								<p class="m-0">Ceviche</p>
								<p class="m-0">Limonada de Coco</p>
								<p class="m-0">Picarones</p>
								<p class="m-0">Chicha Morada</p>
								<p class="m-0">Chuleta de cerdo</p>

							</div>
							<div class="m-0 costos">
								<p class="m-0">$ 115</p>
								<p class="m-0">$ 55</p>
								<p class="m-0">$ 15</p>
								<p class="m-0">$ 20</p>
								<p class="m-0">$ 40</p>
							</div>
						</h5>
						<h5 class="card-hist-footer">
							<p>Precio total:</p><p>$ 300</p>
						</h5>
					</div>
					<div class="card-historial">
						<h5 class="card-hist-titulo m-0">Fecha de compra: 2024-03-04 14:30:18</h5>
						<h5 class="card-hist-cont-header">
							<p class="m-0">Productos:</p><p class="m-0">Precio en $:</p>
						</h5>
						<h5 class="card-hist-cont">
							<div class="m-0">
								<p class="m-0">Parrilladad Mixta</p>
								<p class="m-0">Ceviche</p>
								<p class="m-0">Limonada de Coco</p>
								<p class="m-0">Picarones</p>
								<p class="m-0">Chicha Morada</p>

							</div>
							<div class="m-0 costos">
								<p class="m-0">$ 115</p>
								<p class="m-0">$ 55</p>
								<p class="m-0">$ 15</p>
								<p class="m-0">$ 20</p>
								<p class="m-0">$ 40</p>
							</div>
						</h5>
						<h5 class="card-hist-footer">
							<p>Precio total:</p><p>$ 260</p>
						</h5>
					</div>
					<div class="card-historial">
						<h5 class="card-hist-titulo m-0">Fecha de compra: 2024-03-04 14:30:18</h5>
						<h5 class="card-hist-cont-header">
							<p class="m-0">Productos:</p><p class="m-0">Precio en $:</p>
						</h5>
						<h5 class="card-hist-cont">
							<div class="m-0">
								<p class="m-0">Parrilladad Mixta</p>
								<p class="m-0">Ceviche</p>
								<p class="m-0">Limonada de Coco</p>
								<p class="m-0">Picarones</p>
								<p class="m-0">Chicha Morada</p>
								<p class="m-0">Chuleta de cerdo</p>
								<p class="m-0">Parrilladad Mixta</p>
								<p class="m-0">Ceviche</p>
								<p class="m-0">Limonada de Coco</p>
								<p class="m-0">Picarones</p>
							</div>
							<div class="m-0 costos">
								<p class="m-0">$ 115</p>
								<p class="m-0">$ 55</p>
								<p class="m-0">$ 15</p>
								<p class="m-0">$ 20</p>
								<p class="m-0">$ 40</p>
								<p class="m-0">$ 115</p>
								<p class="m-0">$ 55</p>
								<p class="m-0">$ 15</p>
								<p class="m-0">$ 20</p>
								<p class="m-0">$ 40</p>
							</div>
						</h5>
						<h5 class="card-hist-footer">
							<p>Precio total:</p><p>$ 600</p>
						</h5>
					</div>
					<div class="card-historial">
						<h5 class="card-hist-titulo m-0">Fecha de compra: 2024-03-04 14:30:18</h5>
						<h5 class="card-hist-cont-header">
							<p class="m-0">Productos:</p><p class="m-0">Precio en $:</p>
						</h5>
						<h5 class="card-hist-cont">
							<div class="m-0">
								<p class="m-0">Parrilladad Mixta</p>

							</div>
							<div class="m-0 costos">
								<p class="m-0">$ 115</p>
							</div>
						</h5>
						<h5 class="card-hist-footer">
							<p>Precio total:</p><p>$ 115</p>
						</h5>
					</div>
					<div class="card-historial">
						<h5 class="card-hist-titulo m-0">Fecha de compra: 2024-03-04 14:30:18</h5>
						<h5 class="card-hist-cont-header">
							<p class="m-0">Productos:</p><p class="m-0">Precio en $:</p>
						</h5>
						<h5 class="card-hist-cont">
							<div class="m-0">
								<p class="m-0">Parrilladad Mixta</p>
								<p class="m-0">Ceviche</p>
								<p class="m-0">Limonada de Coco</p>
								<p class="m-0">Picarones</p>
								<p class="m-0">Chicha Morada</p>
								<p class="m-0">Chuleta de cerdo</p>
								<p class="m-0">Parrilladad Mixta</p>
								<p class="m-0">Ceviche</p>
								<p class="m-0">Limonada de Coco</p>
								<p class="m-0">Picarones</p>
							</div>
							<div class="m-0 costos">
								<p class="m-0">$ 115</p>
								<p class="m-0">$ 55</p>
								<p class="m-0">$ 15</p>
								<p class="m-0">$ 20</p>
								<p class="m-0">$ 40</p>
								<p class="m-0">$ 115</p>
								<p class="m-0">$ 55</p>
								<p class="m-0">$ 15</p>
								<p class="m-0">$ 20</p>
								<p class="m-0">$ 40</p>
							</div>
						</h5>
						<h5 class="card-hist-footer">
							<p>Precio total:</p><p>$ 600</p>
						</h5>
					</div>
					<div class="card-historial">
						<h5 class="card-hist-titulo m-0">Fecha de compra: 2024-03-04 14:30:18</h5>
						<h5 class="card-hist-cont-header">
							<p class="m-0">Productos:</p><p class="m-0">Precio en $:</p>
						</h5>
						<h5 class="card-hist-cont">
							<div class="m-0">
								<p class="m-0">Parrilladad Mixta</p>
								<p class="m-0">Ceviche</p>
								<p class="m-0">Limonada de Coco</p>
								<p class="m-0">Picarones</p>
								<p class="m-0">Chicha Morada</p>
								<p class="m-0">Chuleta de cerdo</p>
								<p class="m-0">Parrilladad Mixta</p>
								<p class="m-0">Ceviche</p>
								<p class="m-0">Limonada de Coco</p>
								<p class="m-0">Picarones</p>
							</div>
							<div class="m-0 costos">
								<p class="m-0">$ 115</p>
								<p class="m-0">$ 55</p>
								<p class="m-0">$ 15</p>
								<p class="m-0">$ 20</p>
								<p class="m-0">$ 40</p>
								<p class="m-0">$ 115</p>
								<p class="m-0">$ 55</p>
								<p class="m-0">$ 15</p>
								<p class="m-0">$ 20</p>
								<p class="m-0">$ 40</p>
							</div>
						</h5>
						<h5 class="card-hist-footer">
							<p>Precio total:</p><p>$ 600</p>
						</h5>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>