.historial {
    max-height: 550px;
    margin: 24px 24px 24px 24px;
}

.titulo-historial {
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #471f05;
    padding: 12px 0 18px 0;
}

.card-historial .h5, .card-historial h5 {
    font-size: inherit;
}

.cont-historial {
    height: 490px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-historial::-webkit-scrollbar {
    width: 0px;
}

.card-historial {
    width: 380px;
    height: 230px;
    margin: 0 1em 1.5em 1em;
    background: #FFFDF7;
    border: 1.5px solid #C47730;
    border-radius: 12px;
}

.card-hist-titulo {
    width: 100%;
    text-align: center;
    border-bottom: 1.5px solid #C47730;
    padding: .5em 0 .5em 0;
}

.card-hist-footer {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid #C47730;
    padding: .3em 7.5% .5em 7.5%;
}

.card-hist-cont-header {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: .5em 7.5% .5em 7.5%;
}

.card-hist-cont-header p {
    border-bottom: 2px dotted #C47730;
}

.card-hist-cont {
    width: 100%;
    height: 99.75px;
    margin: 0;
    display: flex;
    overflow-y: auto;
    justify-content: space-between;
    overflow-y: auto;
    padding: 0 7.5% 0 7%;
    margin: .25em 0 1em 0;
}

.card-hist-cont::-webkit-scrollbar {
    width: 3px;

}

.card-hist-cont::-webkit-scrollbar-thumb {
    background-color: #C47730;
    border-right: .75px solid #FFFDF7;
}

.costos {
    text-align: right;
}
