@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dulces Delicias</title>
    <link rel="shortcut icon" href="~/LogoPanaderia.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/card.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ContCar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/inicio.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estilos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/perfilUsuario.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rancho&family=Sriracha&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Rancho&family=Sriracha&family=Wendy+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body style="background: #FFF8E1;">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container">
                <div>75
                    <img src="~/LogoPanaderia.png" alt="Logo" class="imgLogoNav">
                    <a class="navbar-brand" asp-area="" asp-controller="Panes" asp-action="Ver_Panes"><strong>Dulces Delicias</strong></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link navItems" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItems" asp-controller="Panes" asp-action="Ver_Panes">Panes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItems" asp-controller="Bocaditos" asp-action="Ver_Bocaditos">Bocaditos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navItems" asp-controller="Tortas" asp-action="Ver_Pasteles">Pasteles</a>
                        </li>
                        @if(User.IsInRole("ADMIN"))
                        {
                            <div class="dropdown">
                                <a class="nav-link navItems dropdown-toggle" data-bs-toggle="dropdown">Mantenimiento</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Panes" asp-action="Guardar">Panes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Bocaditos" asp-action="Guardar">Bocaditos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Tortas" asp-action="Guardar">Pasteles</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Usuarios" asp-action="ListarUser">Registrar</a>
                                    </li>
                                </ul>
                            </div>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link navItems" asp-controller="Usuarios" asp-action="GuardarPropioUser">Registrarse</a>
                            </li>
                        }
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link navItems" asp-controller="Acceso" asp-action="Login">Login</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated) 
                        {
                            <div class="dropdown">
                                <a class="nav-link navItems dropdown-toggle" data-bs-toggle="dropdown"><strong>@User.Identity.Name</strong></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Acceso" asp-action="Salir">Salir</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Usuarios" asp-action="Perfil">Ver perfil</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-center text-white">
        <div class="container p-3">
            <section class="">

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-facebook"></i>
                </a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-twitter"></i>
                </a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-whatsapp"></i>
                </a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="bi bi-instagram"></i>
                </a>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="">DulcesDelicias.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ContCar.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
